<!DOCTYPE html>
<html>
<head>
<title>dallers¡ƒÃÏ “</title>
<link rel="stylesheet" type="text/css" href="res/css/chat.css" />
<script type="text/javascript" src="res/js/vue.js"></script>
</head>

<body>
	<div class="viewdiv">
	
		<dl>
			<dd>
				<img src="res/img/headimg/1.png" id="headimg" />
				<p>nickname</p>
			</dd>
			<img src="res/img/chatbg/left.png" />
			<dd id="content">content</dd>
		</dl>
		<dl class="me">
			<dd>
				<img src="res/img/headimg/2.png" id="headimg" />
				<p>nickname</p>
			</dd>
			<img src="res/img/chatbg/right.png" />
			<dd id="content">content11111111111111111111</dd>
		</dl>
		
		<dl>
			<dd>
				<img src="res/img/headimg/3.png" id="headimg" />
				<p>nickname</p>
			</dd>
			<img src="res/img/chatbg/left.png" />
			<dd id="content">content</dd>
		</dl>
		<dl class="me">		
			<dd>
				<img src="res/img/headimg/4.png" id="headimg" />
				<p>nickname</p>
			</dd>
			<img src="res/img/chatbg/right.png" />
			<dd id="content">content</dd>
		</dl>
		
		<dl>
			<dd>
				<img src="res/img/headimg/3.png" id="headimg" />
				<p>nickname</p>
			</dd>
			<img src="res/img/chatbg/left.png" />
			<dd id="content">content</dd>
		</dl>
		<dl class="me">		
			<dd>
				<img src="res/img/headimg/4.png" id="headimg" />
				<p>nickname</p>
			</dd>
			<img src="res/img/chatbg/right.png" />
			<dd id="content">content</dd>
		</dl>
		
		<dl>
			<dd>
				<img src="res/img/headimg/3.png" id="headimg" />
				<p>nickname</p>
			</dd>
			<img src="res/img/chatbg/left.png" />
			<dd id="content">content</dd>
		</dl>
		<dl class="me">		
			<dd>
				<img src="res/img/headimg/4.png" id="headimg" />
				<p>nickname</p>
			</dd>
			<img src="res/img/chatbg/right.png" />
			<dd id="content">content</dd>
		</dl>
		
	</div>
	<hr />
	<div class="postdiv">
		<dl>
			<dd><input type="button" value="POST" class="postbutton" /></dd>
			<dd><textarea id="posttextarea"></textarea></dd>
		</dl>
	</div>
</body>

</html> 