<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>dallers聊天室</title>
<link rel="stylesheet" type="text/css" href="res/css/chat.css" />
<script type="text/javascript" src="res/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="res/js/chat.js"></script>
</head>

<body>
	<div class="viewdiv" id="div">
	
		<!-- 聊天内容显示 -->
		
	</div>
	<hr />
	<div class="postdiv">
		<dl>
			<dd><input type="button" value="POST" class="postbutton" /></dd>
			<dd><textarea id="posttextarea"></textarea></dd>
		</dl>
	</div>
</body>

</html> 