<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>dollars</title>
<link rel="stylesheet" type="text/css" href="res/css/index.css" />
<script type="text/javascript" src="res/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="res/js/index.js"></script>
</head>

<body>
	<p id="hide"></p>
	<div class="logo">
		<img src="res/img/logo.png" id="logo" />
	</div>
	<p id="error">${error}</p>
	<div class="login">
		<p>LOGIN</p>
		<form action="/dollars/login.do" method="post">
			<dd>UserName:<input type="text" name="username" id="username"  autofocus /></dd>
			<dd>Pass Word:<input type="password" name="password" id="password" /></dd>
			<dd><input type="submit" id="submit" value="Login"></dd>
		</form>
	</div>
	<div class="code">
		<p class="x">X</p>
		<dd>Repeat PassWord:<input type="password" name="repassword" id="repassword" /></dd>
		<dd>Access Code:&emsp;&emsp;<input type="text" name="accesscode" id="accesscode" /></dd>
		<dd><input type="button" id="button" value="Sumbit" /></dd>
	</div>
</body>
</html>