<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>dallers</title>
<link rel="stylesheet" type="text/css" href="res/css/index.css" />
<script type="text/javascript" src="res/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="res/js/index.js"></script>
</head>

<body>
	<div class="logo">
		<img src="res/img/logo.png" id="logo" />
	</div>
	
	<div class="login">
		<p>LOGIN</p>
		<form action="/dollars/chat.do" method="post">
			<dd>UserName:<input type="text" name="username" id="username" /></dd>
			<dd>Pass Word:<input type="password" name="password" id="password" /></dd>
			<dd><input type="submit" id="submit" value="Login"></dd>
		</form>
	</div>

</body>
</html>